---
import Layout from "../layouts/Layout.astro"

---
<Layout title="Coming soon" description="Coming soon">
<div class="min-h-screen flex  justify-center">
    <h1 class="text-4xl bold mt-16">Coming soon</h1>
</div>
</Layout>